# Python
__pycache__/
*.py[cod]
*.pyo

# Entorno virtual
venv/
env/

# Django
*.sqlite3
media/
staticfiles/

# Variables de entorno
.env

# Editor
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db
